@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@theme {
  --color-blue-600: hsl(231, 69%, 60%);
  --color-red-400: hsl(0, 94%, 66%);
  --color-gray-50: hsl(0, 0%, 97%);
  --color-blue-950: hsl(229, 31%, 21%);
  --font-rubik: "Rubik", sans-serif;
}

@import "tailwindcss";

.react-datepicker {
  width: 100%;
  border: 0;
  font-family: var(--font-rubik);
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__header {
  border-bottom: 1px solid #e5e7eb;
  background: white;
}

.react-datepicker__day-names,
.react-datepicker__week {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: auto;
  min-height: 2rem;
  line-height: 2rem;
  margin: 0.1rem;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background: black;
  color: white;
}

.react-datepicker__day:hover {
  background: hsl(0, 94%, 66%);
  color: white;
}
